# --- Sicherheit ---
.env

# --- Umgebungen & Cache ---
.venv/
__pycache__/

# --- Generierte Dateien (Output) ---
daten_export.json


*.log
.DS_Store

# Build und Dist Ordner
build/
dist/
*.spec
# Archive
*.zip

